USE [ManejoPresupuesto]
GO
/****** Object:  StoredProcedure [dbo].[usp_Transacciones_SeleccionConTipoTransaccion]    Script Date: 05/11/2025 10:56:57 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Erick
-- Create date: 25-11-05
-- Description:	Obtiene transacciones con su tipo de transaccion
	-- Parametros:  
	--   @UsuarioId INT (opcional) - Filtra por usuario.
	--   @TipoTransaccionId INT (opcional) - Filtra por tipo de transacción.
	--   @Fecha DATE (opcional) - Filtra por fecha.
-- =============================================
ALTER PROCEDURE [dbo].[usp_Transacciones_SeleccionConTipoTransaccion] 
	-- Se definen los parametros que se van a recibir y a usar
	@UsuarioId INT = NULL,
    @TipoTransaccionId INT = NULL,
	@Fecha DATE = NULL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Colocamos un alias a cada base de datos para mejor manejo
	SELECT 
		t.id AS TransaccionId,
		t.UsuarioId, 
		t.Monto, 
		t.Nota, 
		tt.Descripcion AS TipoTransaccion
	FROM Transacciones AS t
	INNER JOIN dbo.TiposTransaccion AS tt
	ON t.TipoTransaccionId = tt.Id
	WHERE -- Parametros opcionales porque tiene NULL por defecto
        (@UsuarioId IS NULL OR t.UsuarioId = @UsuarioId)
        AND (@TipoTransaccionId IS NULL OR t.TipoTransaccionId = @TipoTransaccionId)
		AND (@Fecha IS NULL OR t.FechaTransaccion = @Fecha)
	ORDER BY t.UsuarioId;
END
